* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

/* utilities */

.btn {
  background-color: var(--dark-color);
  color: var(--primary-color);
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

:root {
  --container-normal: 1100px;
  --container-wide: 1400px;
  --container-narrow: 900px;
  --primary-color: #fcf5e9;
  --dark-color: #333;
}

/* container */
.container {
  max-width: var(--container-normal);
  margin: 0 auto;
  align-items: center;
}

.container-sm {
  max-width: var(--container-narrow);
}

.container-lg {
  max-width: var(--container-wide);
}

/* ----------------- */

/* utilities */

/* -------------------- */

.header {
  padding: 1rem 1.5rem;
  margin-bottom: 30px;
}
.header .current {
  background-color: var(--primary-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.header .header-flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header .logo {
  width: 130px;
}

.header .list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header .list .list-item {
  padding: 0.5rem 0.8rem;
}

/* hero */
.hero {
  height: 500px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hero h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: normal;
}
.hero span {
  padding: 0 10px;
}

.hero .bg-primary {
  background-color: var(--primary-color);
}

/* gallery */

.gallery {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-item {
  width: calc(33.33% - 20px);
  /* padding: 0 0rem; */
}

.gallery img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* -------------------------- */
/* contact */

.hero.dark,
.services.dark {
  background-color: var(--dark-color);
  color: var(--primary-color);
}

.hero span {
  color: #333;
}

/* form */

.contact {
  margin-top: 50px;
}

.form {
  /* text-align: center; */
}
label {
  display: block;
}

.visually-hiddden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.contact-heading {
  text-align: center;
}
.contact-heading p {
  padding: 1rem 12rem;
}

form {
  padding: 0 2rem;
}

.form-group input,
textarea {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  padding: 1rem 0.5rem;
  outline: none;
  border: none;
  border-bottom: 0.2px solid #333;
}

.form-group textarea {
  /* height: 200px; */
  resize: none;
}

.form-group button {
  margin-top: 1rem;
  width: 100%;
}
.form-group button:hover {
  opacity: 0.9;
}

/* about */
.services {
  padding: 3rem 1.5rem;
}
.services h2 {
  text-align: center;
  padding-bottom: 2rem;
}
.services .service-flex {
  display: flex;
}
.services .service-flex .service-item h3 {
  padding-bottom: 10px;
}

.services .service-flex .service-item p {
  line-height: 1.6;
  text-align: left;
}
.team {
  margin-top: 30px;
}
.team h3 {
  text-align: center;
  margin-bottom: 30px;
}
.team .team-flex {
  display: flex;
  gap: 1rem;
  /* padding: ; */
}
.team .team-flex .team-item {
  padding: 0 1rem;
}
.team .team-flex .team-item img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* footer */
.footer {
  background-color: #333;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  color: #fcf5e9;
}
.footer .footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.footer img {
  width: 130px;
}

.footer h4 {
  padding-bottom: 10px;
}

.footer i.fab {
  padding: 0 5px;
}

/* Media Queries */

@media (max-width: 768px) {
  .header-flex,
  .service-flex,
  .team-flex {
    flex-direction: column;
    gap: 10px;
  }

  .hero {
    height: 300px;
  }
  .hero h2 {
    font-size: 2rem;
  }

  .footer-flex {
    flex-direction: column;
    gap: 30px;
  }
  .gallery-item {
    width: calc(50% - 20px);
  }

  .contact-heading p {
    padding: 1rem 2rem;
  }
}

@media (max-width: 570px) {
  .gallery-item {
    width: calc(80% - 20px);
  }
}
/* scroll */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
